<div class="signinFormContainer">
  <form name="signinForm" ng-submit="vm.checkUserLog()" class="md-primary">
    <div layout="column" layout-align="center end">
      <div layout="row" layout-align="center center">
        <!--Username-->
        <md-input-container class="signinForm" md-no-float>
          <input name="user" ng-model="vm.user.name" type="text" placeholder="Username" required>
          <div ng-messages="signinForm.user.$error">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <!-- Password -->
        <md-input-container class="signinForm" md-no-float>
          <input name="pass" ng-model="vm.user.password" type="password" placeholder="Password" required>
          <div ng-messages="signinForm.pass.$error" role="alert">
            <div ng-message="required">This is required!</div>
          </div>
        </md-input-container>

        <md-button class="md-raised md-primary" type="submit">Log In</md-button>
      </div>
    </div>
  </form>
</div>
